
body{
    /* background-color: rgb(148, 127, 255); */
    background: url(back.jpg);
    text-align: center;
    background-size: cover;
}
.tit{
    color: aliceblue;
}
.check{
    color: black;
    width: 100px;
    height: 50px;
    font-size: 30px;
    
}
.choose{
    color: black;
    width: 100px;
    height: 50px;
    font-size: 30px;
    
}

.text{
  text-align: center;
    /* float: center; */
    margin: 20px;
    padding: 20px;
    width: 400px;
    height: 200px;
    border: 1px solid black;
}

.li-1{
    color:blue;
}